<h2>User Details Page</h2>

<p><strong>Username:</strong> {{ user.username }}</p>
<p><strong>Email:</strong> {{ user.email }}</p>

<hr />

<!-- Show Send Friend Request button or Message link based on conditions -->
<div *ngIf="!myProfile">
  <button *ngIf="showAddFriendButton" (click)="sendFriendRequest()">
    Send Friend Request
  </button>
  <a *ngIf="!showAddFriendButton" [routerLink]="['/messages', userId]">
    Send Message
  </a>
</div>

<hr />

<h2>Posts by {{ user.username }}</h2>
<div *ngFor="let post of userPosts">
  <h4>{{ post.title }}</h4>
  <hr />
</div>

<hr />

<h2>User Friends</h2>
<div *ngFor="let friend of friends">
  <h4>{{ friend.username }}</h4>
  <button
    *ngIf="myProfile"
    (click)="removeFriend(friend._id)"
  >
    Remove Friend
  </button>
</div>
