<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center" (click)="onClose()">
    <div class="bg-surface p-6 rounded-lg w-96 shadow-lg relative" (click)="$event.stopPropagation()">
        <h2 class="text-xl font-semibold mb-4 text-primary">Change Password</h2>
        <div class="relative mb-2">
            <input
                [type]="showPassword1 ? 'text' : 'password'"
                class="jwitterinput"
                placeholder="old password"
                [(ngModel)]="oldPass"
            />
            <button
                type="button"
                (mousedown)="showPassword1 = true"
                (mouseup)="showPassword1 = false"
                (mouseleave)="showPassword1 = false"
                class="absolute right-2 top-1/2 -translate-y-1/2 text-gray-400 hover:text-white"
            >👁️</button>
        </div>
        <div class="relative mb-2">
            <input
                [type]="showPassword2 ? 'text' : 'password'"
                class="jwitterinput"
                placeholder="new password"
                [(ngModel)]="newPass"
            />
            <button
                type="button"
                (mousedown)="showPassword2 = true"
                (mouseup)="showPassword2 = false"
                (mouseleave)="showPassword2 = false"
                class="absolute right-2 top-1/2 -translate-y-1/2 text-gray-400 hover:text-white"
            >👁️</button>
        </div>
        <div class="relative mb-2">
            <input
                [type]="showPassword3 ? 'text' : 'password'"
                class="jwitterinput"
                placeholder="new password again"
                [(ngModel)]="newPassConf"
            />
            <button
                type="button"
                (mousedown)="showPassword3 = true"
                (mouseup)="showPassword3 = false"
                (mouseleave)="showPassword3 = false"
                class="absolute right-2 top-1/2 -translate-y-1/2 text-gray-400 hover:text-white"
            >👁️</button>
        </div>
        <div class="flex justify-between">
            <button class="py-3 bg-background border border-error text-error rounded-lg hover:bg-surface transition-colors w-1/3 mr-5" (click)="onClose()">Cancel</button>
            <button class="py-3 rounded-lg bg-background border border-primary text-primary hover:bg-surface w-1/3 ml-5 transition-colors" (click)="changePassword()">Submit</button>
        </div>
    </div>
</div>