<div class="sidebar">
    <h2 class="text-primary text-xl font-bold p-4">Sidebar</h2>
    <ul class="space-y-4 p-4">
      <li><a routerLink="/main" class="sidebar-link">🏠 Home</a></li>
      <li><a routerLink="/chat" class="sidebar-link">💬 Chat</a></li>
      <li><a routerLink="/userdetails/{{loggedInUserId}}" class="sidebar-link">👤 Profile</a></li>
      <li><a routerLink="/messages" class="sidebar-link">📨 Messages</a></li>
      <li><a routerLink="/settings" class="sidebar-link">⚙️ Settings</a></li>
    </ul>
  </div>
  