<div class="min-h-screen flex items-center justify-center text-white">
  <div class="w-full max-w-md p-8 bg-surface rounded-2xl shadow-lg">
    <h1 class="text-3xl font-bold mb-6 text-center text-primary">Create Account</h1>

    <form (ngSubmit)="register()" class="space-y-4">
      <input
        type="text"
        name="username"
        [(ngModel)]="username"
        placeholder="Username"
        required
        class="jwitterinput"
      />
      <div class="relative">
        <input
          [type]="showPassword1 ? 'text' : 'password'"
          name="password"
          [(ngModel)]="password"
          placeholder="Password"
          required
          class="jwitterinput"
        />
        <button
        type="button"
          (mousedown)="showPassword1 = true"
          (mouseup)="showPassword1 = false"
          (mouseleave)="showPassword1 = false"
          class="absolute right-2 top-1/2 -translate-y-1/2 text-gray-400 hover:text-white"
        >
          <img *ngIf="showPassword1" src="assets/showpassword.png" alt="" class="w-5 h-5 opacity-70 hover:opacity-100 transition mr-2" />
          <img *ngIf="!showPassword1" src="assets/hidepassword.png" alt="" class="w-5 h-5 opacity-70 hover:opacity-100 transition mr-2" />
        </button>
      </div>
      <div class="relative">
        <input
          [type]="showPassword2 ? 'text' : 'password'"
          name="password"
          [(ngModel)]="passwordConf"
          placeholder="Password again"
          required
          class="jwitterinput"
        />
        <button
          type="button"
          (mousedown)="showPassword2 = true"
          (mouseup)="showPassword2 = false"
          (mouseleave)="showPassword2 = false"
          class="absolute right-2 top-1/2 -translate-y-1/2 text-gray-400 hover:text-white"
        >
          <img *ngIf="showPassword2" src="assets/showpassword.png" alt="" class="w-5 h-5 opacity-70 hover:opacity-100 transition mr-2" />
          <img *ngIf="!showPassword2" src="assets/hidepassword.png" alt="" class="w-5 h-5 opacity-70 hover:opacity-100 transition mr-2" />
        </button>
      </div>
      

      

      <input
        type="email"
        name="email"
        [(ngModel)]="email"
        placeholder="Email"
        required
        class="jwitterinput"
      />

      <button
        type="submit"
        class="jwitterbutton"
      >
        Register
      </button>
    </form>

    <p *ngIf="message" class="text-red-500 mt-4 text-center">{{ message }}</p>

    <p class="mt-6 text-center text-gray-400">
      Already have an account?
      <a routerLink="/login" class="text-primary hover:underline">Login</a>
    </p>
  </div>
</div>
