<div class="min-h-screen flex items-center justify-center text-white">
  <div class="w-full max-w-md p-8 bg-surface rounded-2xl shadow-lg">
    <h1 class="text-3xl font-bold mb-6 text-center text-primary">Jwitter Login</h1>

    <form (ngSubmit)="login()" class="space-y-4">
      <input
        type="text"
        name="username"
        [(ngModel)]="username"
        placeholder="Username"
        required
        class="jwitterinput"
      />
      <div class="relative">
        <input
        [type]="showPassword ? 'text' : 'password'"
        name="password"
        [(ngModel)]="password"
        placeholder="Password"
        required
        class="jwitterinput"
        />
        <button
          type="button"
          (mousedown)="showPassword = true"
          (mouseup)="showPassword = false"
          (mouseleave)="showPassword = false"
          class="absolute right-2 top-1/2 -translate-y-1/2 text-gray-400 hover:text-white"
        >
        <img *ngIf="showPassword" src="assets/showpassword.png" alt="" class="w-5 h-5 opacity-70 hover:opacity-100 transition mr-2" />
        <img *ngIf="!showPassword" src="assets/hidepassword.png" alt="" class="w-5 h-5 opacity-70 hover:opacity-100 transition mr-2" />
      </button>
      </div>
      <button
        type="submit"
        class="jwitterbutton"
      >
        Login
      </button>
    </form>

    <p *ngIf="message" class="text-red-500 mt-4 text-center">{{ message }}</p>

    <p class="mt-6 text-center text-gray-400">
      Don't have an account?
      <a routerLink="/register" class="text-primary hover:underline">Register</a>
    </p>
    <p class="mt-6 text-center text-gray-400">
      <a (click)="openForgotPasswordModal()" class="text-primary hover:underline">Forgot password?</a>
    </p>
  </div>
</div>
<app-forgot-password-modal
  *ngIf="forgotPasswordModalOpen"
  (closeModal)="closeForgotPasswordModal()"
></app-forgot-password-modal>


